<!DOCTYPE html>
<html>
  <head>
    <title>Gemtrends</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render "layouts/google_analytics" %>
  </head>

  <body class="min-h-screen flex flex-col">
    <%= render "layouts/header" %>
    <main class="container mx-auto px-5 flex flex-1">
      <%= yield %>
    </main>
  </body>
</html>
